extends ./../../_layouts/_modal-base.pug

//- Template variables
block vars
  - var $modalClass = 'config'
  - var $modalName = 'Configurações'
  - var cards = [{name:'bg-1', value: 1, src:'assets/img/background/1.png'},{name:'bg-2', value: 2, src:'assets/img/background/2.png'},{name:'bg-3', value: 3, src:'assets/img/background/3.png'},{name:'bg-4', value: 4, src:'assets/img/background/4.png'},{name:'bg-5', value: 5, src:'assets/img/background/5.png'},{name:'bg-6', value: 6, src:'assets/img/background/6.png'},{name:'bg-7', value: 7, src:'assets/img/background/7.png'},{name:'bg-8', value: 8, src:'assets/img/background/8.png'},{name:'bg-9', value: 9, src:'assets/img/background/9.png'}]
  - var drawings = [{name:'Animais', value: 1, src:'assets/img/drawings/1.png'},{name:'Carros', value: 2, src:'assets/img/drawings/2.png'}]

block body
  p(class='mg-modal__body--info') Escolha as opções abaixo como desejar e clique em salvar.
  h3(class='mg-modal__body--title') Fundo
  div(class='card-background-container js--card-background')
    each card in cards
      figure(class='js--card-background-image')
        img(class='card-background-image' data-value=card.value alt=card.name src=card.src)
      

  h3(class='mg-modal__body--title') Desenho
  div(class='card-draw-container js--card-draw')
    each drawing in drawings
      figure(class='js--card-draw-image')
        img(class='card-draw-image' data-value=drawing.value alt=drawing.name src=drawing.src)

  h3(class='mg-modal__body--title') Quantidade
  div(class='card-quantity-container js--card-quantity')
    div(class='form-group')
      label(for='inputQuantity' class='sr-only') Quantidade
      div(class='input-group-select')
        div(class='input-group-addon') 
          i(class='fa fa-th-large')
        select(class='form-control' id='inputQuantity' name='quantity' required)
          option(value='' selected disabled) -- 
          option(value='24') 24 cartas / 12 pares
          option(value='30') 30 cartas / 15 pares
          option(value='40') 40 cartas / 20 pares


block prepend footer
  button(class='mg-modal__footer-btn-save js--modal-btn-save')
          i(class='fa fa-save')
          | Salvar